<div class="restaurant">
	<div>
		<img class="restaurant-image" src="{{restaurant.image}}" />
	</div>
	<div class="restaurant-detail">
		<h3 class="restaurant-title">{{restaurant.title}}</h3>
		<h4 class="restaurant-title stars" [style]="rating"></h4>
		<!-- <h4 class="restaurant-title" #stars></h4> -->
		<!-- <h4 class="restaurant-title" [innerHTML]="rating"></h4> -->
	</div>
	<div class="restaurant-detail">
		<p>
			<span class="tags" *ngFor="let tag of restaurant.tags; index as indexOftag;"> {{tag}}<span
					*ngIf="indexOftag !== restaurant.tags.length-1">, </span>
			</span>
		</p>
		<p class> Delivery with 25 min </p>
	</div>
	<div class="restaurant-detail delivery">
		<p class="item-text"> Delivery: AED 10 </p>
		<p> Cash on Delivery </p>
	</div>
	<div class="restaurant-detail">
		<p class="item-text discount"><img src="assets/icons/price-tag.svg" class="icon"> 20% off Selected items </p>
	</div>
</div>