body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

main {
    width: 90vw;
    max-width: var(--fixed-width);
    margin: 5rem auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.25rem;
}
h4 {
    font-size: 0.875rem;
}

p {
    margin: 0;
    font-size: 0.9em;
}
@media screen and (min-width: 800px) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 1.45rem;
    }
    h4 {
        font-size: 1rem;
    }
    body {
        font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
    }
    p {
        margin: 0;
        font-size: 1em;
    }
}

footer {
    width: 100vw;
    margin-top: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #efefef;
    z-index: 9999;
}
footer a {
    display: flex;
    align-items: center;
}

#map {
    height: 92vh;
}

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #fff;
    color: #32bfc9;
    padding: 0 50px;
    padding-top: 1em;
}
.toolbar .logo {
    /* margin: 0 16px; */
    width: 100px;
}

.content {
    display: flex;
    margin: 82px auto 32px;
    margin-top: 150px;
    padding: 0 16px;
    max-width: 783px;
    flex-direction: column;
    align-items: center;
}

.search {
    width: 80%;
    max-width: 480px;
    padding: 10px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 1px solid gray;
    border-radius: 10px;
    background: #fff;
    position: absolute;
    top: 83px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 9999;
}

.search form {
    width: 100%;
}
.search input {
    width: 100%;
    line-height: 1em;
    font-size: 1em;
    outline: transparent;
    border: none;
    margin-left: 5px;
}

.restaurant {
    margin-bottom: 30px;
}

.restaurant-image {
    object-fit: cover;
    width: 100%;
    height: auto;
    margin-bottom: 5px;
    border-radius: 15px;
    display: flex;
}
.restaurant-title {
    margin: 0;
    color: #615e5e;
}
.restaurant-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgba(102, 102, 102, 0.507);
}
.restaurant-detail .tags {
    color: #3f3f3f;
    font-weight: 500;
}
.restaurant-detail .discount {
    color: #32bfc9;
    font-weight: 500;
}

.icon {
    width: 20px;
}

.restaurant-detail .icon {
    width: 12px;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
}

@media screen and (max-width: 575px) {
    .toolbar {
        padding: 0 2em;
        padding-top: 1em;
    }
    .toolbar img {
        width: 110px;
        height: auto;
    }

    .restaurant-image {
        height: 13em;
    }
}

:root {
    --star-size: 1.3em;
    --star-color: #fff;
    --star-background: #fc0;
}

.stars {
    --percent: calc(var(--rating) / 5 * 100%);
    display: inline-block;
    font-size: var(--star-size);
    font-family: Times;
    line-height: 1;
}
.stars::before {
    content: "★★★★★";
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px var(--star-background);
}
